.git
.github
.husky
.vscode
dist
media
node_modules
scripts
setup
.dockerignore
.env
.env.example
.eslintcache
.gitattributes
.gitignore
.prettierignore
.prettierrc
db.json
docker-compose.yaml
Dockerfile
eslint.config.ts
LICENSE
*.md
tsconfig.tsbuildinfo
logs
*.log
npm-debug.log*
.DS_Store
*.tgz
*.sh