# Discord API token (also known as bot token)
# Can be found at: Discord Developer Portal > Bot > Token
BOT_TOKEN=...

# Located at: Discord Developer Portal > General Information > Application ID
# Also known as Client ID
APP_ID=...

# The IDs of the servers (guilds) where the bot will update slash commands
# Include all servers here, where you want to use the bot
# Values should be separated by commas (and no spaces)
GUILD_IDS=...

# Max number of entries in the command queue
# The busier the server, the more commands needs to be queued (and later processed)
# The more commands possible to be queued, the more RAM is used (not significant), and validation might get slower
# Serves as a DDoS protection mechanism as well
CMD_QUEUE_MAX_SIZE=50

# Backend URL (for the external backend)
# Assumed REST endpoints are: PUT, POST
# If DiscOS is running in standalone mode, use any random value (that is not '')
# When switching to external backend mode, it is not checked if it works and responds, so sure to do so
BACKEND=http://localhost:3000/discos

# Path to the database file
# You generally won't need to change this, as the install script will set it up correctly
DATABASE_PATH=/path/to/your/database.json

# Max file size (for write and read operations)
# This is a positive integer representing the size in MB
# Min 1MB, max 1000MB
# Note: this also limits text-based response size
# For non-Nitro Discord servers: 8 MB is the max
FILE_MAX_SIZE=8

# List of binaries that should not be used with /docs exec, but with /dcos write or /dcos read
# Due to how the checking logic works, the full path of the binary will be handled as well 
READ_BIN_OVERRIDE=nano,less,cat,more,vim

# File extesions that are considered text-based and if shorter then QUICK_VIEW_MAX_LENGTH, sent as text (in Markdown), not as a file (on read command)
# Support QuickView for extension-less files: .
# DO NOT include file types, that are not utf-8 encodeable (eg. images, pdf, videos, etc.)
# If you want to use QuickView for custom text-based file types, add them here (eg. .own, .custom)
QUICK_VIEW=.txt,.log,.md,.mdx,.json,.yaml,.yml,.html,.sh,.conf,.csv,.xml,.env,.

# Max number of characters, that can be sent as text in a Discord message (QuickView)
# Discord API max. limit: 2000 characters
# You will be able to send a little less then this limit, as there is a reply sentence as well that counts
QUICK_VIEW_MAX_LENGTH=2000