[Unit]
Description=DiscOS service
Wants=network-online.target
After=network-online.target
OnFailure=ERROR@%n.service
StartLimitAction=none
StartLimitIntervalSec=30
StartLimitBurst=3
FailureAction=none

[Service]
Type=simple
User=discos
Group=discos
WorkingDirectory=WD_PATH
EnvironmentFile=WD_PATH/.env
ExecStart=/bin/bash -c 'export NVM_DIR="$HOME/.nvm"; [ -s "$NVM_DIR/nvm.sh" ] && source "$NVM_DIR/nvm.sh"; exec node WD_PATH/dist/startup.js'
StandardOutput=journal
StandardError=journal
SyslogIdentifier=DiscOS

# IO and CPU
Nice=-5
IOSchedulingClass=best-effort
IOSchedulingPriority=0

# Timeouts and restarts
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target